# Python Environment
/.venv/

# IDE Configuration
/.idea/

# Packer and Terraform Binaries
/bin/

# Terraform Local State
.terraform
*.tfstate
*.tfstate.backup

# Temporary Files for Communicating State
/packer_ami_minikube/manifest.json
/packer_ami_minikube/manifest.json.lock
/terraform_vpc_packer/vpc_packer.pkrvars.hcl
