# IDE Configuration
/.idea/

# Binaries (e.g., Helm, Packer, Terraform)
/bin/

# Python Cache and Packaging
**/__pycache__/

# Terraform Local State
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info

# Temporary Files for Communicating State
/packer_ami_minikube/manifest.json
/packer_ami_minikube/manifest.json.lock

# Secrets, defined using /** so we can also define exceptions
/secrets/**

# Exception to create /secrets/server/prod
!/secrets/aws
!/secrets/aws/.gitignore
