from invoke import task
import os
from ruamel.yaml import YAML

from ..tasks import init


@task(
    pre=[init]
)
def ssh(context):
    """
    Open an SSH session to the instance.
    """
    print('Creating SSH Session')

    config = context.config.${tasks_config_context}
    working_dir = os.path.normpath(config.working_dir)

    instance_config = config.${instance_name}
    identity_file = os.path.normpath(os.path.join(
        instance_config.instance_dir,
        instance_config.instance_identity_file
    ))
    hosts_file = os.path.normpath(os.path.join(
        instance_config.instance_dir,
        'known_hosts'
    ))
    ip = instance_config.instance_ip

    with context.cd(working_dir):
        context.run(
            command=' '.join([
                'start',  # Ensures Windows launches ssh outside cmd
                'ssh',
                '-l ubuntu',
                '-i {}'.format(identity_file),
                '-o StrictHostKeyChecking=no',
                '-o UserKnownHostsFile="{}"'.format(hosts_file),
                ip
            ]),
            disown=True
        )


@task(
    pre=[init]
)
def ssh_port_forward(context, port, local_port=None):
    """
    Forward a port from the instance.
    """
    print('Creating SSH Session to Forward Port')

    config = context.config.${tasks_config_context}
    working_dir = os.path.normpath(config.working_dir)

    instance_config = config.${instance_name}
    identity_file = os.path.normpath(os.path.join(
        instance_config.instance_dir,
        instance_config.instance_identity_file
    ))
    hosts_file = os.path.normpath(os.path.join(
        instance_config.instance_dir,
        'known_hosts'
    ))
    ip = instance_config.instance_ip

    with context.cd(working_dir):
        remote_port = port
        if local_port is None:
            local_port = remote_port

        context.run(
            command=' '.join([
                'start',  # Ensures Windows launches ssh outside cmd
                'ssh',
                '-l ubuntu',
                '-i {}'.format(identity_file),
                '-o StrictHostKeyChecking=no',
                '-o UserKnownHostsFile="{}"'.format(hosts_file),
                '-L localhost:{}:localhost:{}'.format(local_port, remote_port),
                ip,
                '"' + ' && '.join([
                    'echo \\"Forwarding {}:{}\\"'.format(ip, remote_port),
                    'echo',
                    'echo \\"Connect via localhost:{}\\"'.format(local_port),
                    'echo',
                    'sleep infinity'
                ]) + '"'
            ]),
            disown=True
        )


@task
def install_chart(context, chart_name):
    """
    Install a chart in the instance.
    """
    print('Packaging and Installing Chart')

    config = context.config.${tasks_config_context}
    working_dir = os.path.normpath(config.working_dir)
    bin_helm = os.path.normpath(os.path.join(config.bin_dir, 'helm.exe'))
    helm_charts_dir = os.path.normpath(config.helm_charts_dir)

    instance_config = config.${instance_name}
    instance_dir = os.path.normpath(instance_config.instance_dir)
    identity_file = os.path.normpath(os.path.join(
        instance_config.instance_dir,
        instance_config.instance_identity_file)
    )
    ip = instance_config.instance_ip

    with context.cd(working_dir):
        # Build the helm chart
        context.run(
            command=' '.join([
                bin_helm,
                'package',
                os.path.normpath(os.path.join(helm_charts_dir, chart_name)),
                '--dependency-update',
                '--destination "{}"'.format(instance_dir)
            ]),
            hide='stdout'
        )

        # Obtain the file name for the chart we just built
        yaml = YAML(typ='safe')
        chart_config_path = os.path.normpath(os.path.join(
            working_dir, helm_charts_dir, chart_name, 'Chart.yaml'
        ))
        with open(chart_config_path) as f:
            chart_config = yaml.load(f)
        helm_chart_file = '{}-{}.tgz'.format(chart_config['name'], chart_config['version'])

        # Ensure a staging directory exists
        context.run(
            command=' '.join([
                'ssh',
                '-l ubuntu',
                '-i {}'.format(identity_file),
                ip,
                '"' + ' && '.join([
                    'mkdir -p .minikube_helm_staging'
                ]) + '"'
            ]),
        )

        # Upload the chart into our staging directory
        context.run(
            command=' '.join([
                'scp',
                '-q',
                '-i {}'.format(identity_file),
                '"{}"'.format(os.path.normpath(os.path.join(instance_dir, helm_chart_file))),
                'ubuntu@{}:~/.minikube_helm_staging'.format(ip)
            ]),
        )

        # Apply the chart
        context.run(
            command=' '.join([
                'ssh',
                '-l ubuntu',
                '-i {}'.format(identity_file),
                ip,
                '"' + ' && '.join([
                    'helm upgrade -i {} ~/.minikube_helm_staging/{}'.format(chart_name, helm_chart_file)
                ]) + '"'
            ]),
        )
